<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sipapah">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/config_network"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SIPAPAH">
        <activity android:name=".activity.BaruActivity"></activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LoginActivity"></activity>
        <activity android:name=".activity.MasukActivity" />
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.DetailKreasiActivity" />
        <activity android:name=".activity.LayananActivity" />
        <activity android:name=".activity.LayananDibatalkanActivity" />
        <activity android:name=".activity.LayananDikonfirmasiActivity" />
        <activity android:name=".activity.LayananDitolakActivity" />
        <activity android:name=".activity.LayananMenungguActivity" />
        <activity android:name=".activity.LayananSelesaiActivity" />
        <activity android:name=".activity.LayananMenungguEditActivity" />
        <activity android:name=".activity.ProfilEditActivity" />

        <!--        <provider-->
<!--            android:authorities="com.example.sipapah.fileprovider"-->
<!--            android:name="androidx.core.content.FileProvider"-->
<!--            android:exported="false"-->
<!--            android:grantUriPermissions="true">-->
<!--            <meta-data-->
<!--                android:name="android.support.FILE_PROVIDER_PATHS"-->
<!--                android:resource="@xml/file_paths"></meta-data>-->
<!--        </provider>-->
    </application>

</manifest>